#amafeed
  #blog
    h2
      text-transform: capitalize
    .post
      .amazonItem
        margin-bottom: 30px
        h3
          font-size: 1.2em
        a img
          max-width: 250px
          height: auto
      label 
        margin-bottom: 5px
        display: block
        .number 
          display: inline-block
          width: 1.5em
          height: 1.5em
          border-radius: 50%
          font-size: 1em
          color: #333
          line-height: 1.5em
          text-align: center
          background: #b12
          margin-right: 3px
      .formRow
        margin: 10px 0px 20px 0px
        input[type='text']
          padding: 5px
      .formElement
        margin-top: 10px
        margin-left: 30px
        input[type='text'], select
          font-size: 1em
          width: 300px
          max-width: 100%
        .txtFeed
          width: 450px
          height: 80px
          max-width: 100%