/// Colors
$link: #bb1122
$visited: #860C18
$active: #eeeeee
$hover: #900 
$front: #614C3B
$back: #DACDC2

/// Fonts
$font-body:              "Segoe UI", Helvetica, Arial, sans-serif
$font-normal:            400
$font-bold:              600

/// AMP specific
.footHome
  padding-left: 10px

// Includes
@import "base"
@import "posts"
@import "comments"
@import "mobile"

/// Pick a site color
#logo, .tagline, .selected, #bottom, #infobox .post-text a, .navigation a 
  color: $front
html 
  background:  $back

body 
  background:  $back /* Old browsers */
  background: -moz-linear-gradient(top,  $back, #ffffff) /* FF3.6-15 */
  background: -webkit-linear-gradient(top, $back, #ffffff) /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom,  $back, #ffffff) /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='$back', endColorstr='#ffffff',GradientType=0 ) /* IE6-9 */
  background-size: 1px 1px
  background-repeat: repeat-x

#footer, #bottom 
  background-color: $back
  color: $front

.btn 
  background-color: $back
  border: 1px solid $front
  color: $front

@media screen and (max-width: 750px) 
  #header 
    border-bottom: solid 5px $front
  
  #footer 
    border-top: solid 5px $front