/// Colors
$link: #b12
$visited: #860C18
$active: #eee
$hover: #900 
$front: #fefefd
$back: #020202
$red: #b12
$black: #020202
$white: #fefefd

/// Fonts
$font-body:              "Segoe UI", Helvetica, Arial, sans-serif
$font-normal:            400
$font-bold:              600

/// AMP specific
.footHome
  padding-left: 10px

// Includes
@import "webfont"
@import "base"
@import "posts"
@import "comments"
@import "mobile"
@import "keyframes"

/// Pick a site color
#logo, .tagline, .selected, #bottom, #infobox .post-text a, .navigation a 
  color: $front
html 
  background: linear-gradient(to bottom, rgba(255,255,255,0.15) 0%, rgba(0,0,0,0.15) 100%), radial-gradient(at top center, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.40) 120%) #989898
  min-height: 100%

#footer, #bottom 
  background-color: $back
  color: $front

.btn 
  background-color: $back
  border: 1px solid $front
  color: $front

.fillbottom 
  margin-bottom: 12px

@media screen and (max-width: 750px) 
  #header 
    background-color: $back
    border-bottom: solid 5px $front
  
  #footer 
    border-top: solid 5px $front