#cform
  width: 100%
  .formRow
    margin-bottom: 10px
    label
      margin-top: 0px
      margin-bottom: 3px
  textarea, input[type='text']
    max-width: 100%
    background-color: #eee
    padding: 3px 2px
  textarea
    width: 476px
    border: solid #ddd 1px
  input[type='text']
    width: 250px
  .btn
    margin-top: 10px
  .please-note
    border: solid #bcdff1 1px
    color: #31708f
    background-color: #d9edf7
    padding: 10px
    margin-top: 0px
    display: inline-block
    max-width: 95%
    margin: 0 !important
    width: 460px

.comment
  .comment-author
    font-weight: bold
    color: #444

#jsmsg
  color: #a94442
  border: solid #ebcccc 1px
  background-color: #f2dede
  padding: 10px
  margin: 10px 0px 10px 0px