@media screen and (max-width: 750px) 
  html, body 
    overflow-x: hidden
    background: #323131
    
  #copyright, #flickr_badge_uber_wrapper, #tophome, #topflourish, .tagline, td br, .fill
    display: none
  
  #logo 
    margin-bottom: .07em
    margin-left: 19px
  
  #infobox 
    font-size: 100%
    padding-left: 50px
  
  #blog 
    width: 100%
    border-radius: 0
    min-height: 0
    padding-top: 0
  
  .single
    padding-bottom: 140px
  
  #blog > .post.other
    margin-top: 0
    padding-top: 15px
  
  #bottom, #copyright, #footer, #header 
    width: 100%
    margin: 0
    padding: 0
  
  #header
    padding-bottom: 5px
  
  .navigation 
    width: 80%
    padding: 1em

  .post.single 
    margin-bottom: 1.5em
  
  .post, .archive-title 
    margin-right: 22px
    margin-left: 22px
    margin-top: 0

  .post.other.notitle
    margin-top: -10px
    padding-top: 22px

  .post img 
    max-width: 100%
    height: auto

  .post img[width='640']
    max-width: none
    height: auto
    display: block
    width: 100vw
    margin-left: 50%
    transform: translateX(-50%)

  .post .embed 
    margin-bottom: 40px

  .post iframe[width='640']
    width: 100vw
    height: 56.25vw
    margin-left: 50%
    transform: translateX(-50%)
  
  .post-byline 
    font-size: 1em
    margin-right: 22px
  
  #blog > .subtitle
    margin-top: 0 !important
    margin-bottom: 0 !important
    padding-top: 10px

  #blog > .post.photo
    margin-top: 0

  .subtitle 
    font-size: 1.5em
    margin-left: 22px
  
  table, tbody, td, th, thead 
    display: block
    max-width: 100%
  
  tr 
    display: block
    max-width: 100%
    border: 1px solid #fff
  
  td 
    border: none
    position: relative
    display: inline
    padding-left: 0
    word-wrap: break-word
    div 
      background-color: #eee
      margin-top: 5px
      text-align: left
    
    &:before 
      position: absolute
      top: 6px
      left: 6px
      width: 45%
      padding-right: 10px
      white-space: nowrap
  
  #footer
    border-style: solid
    border-width: 5px 0 0
    border-image: linear-gradient(to right, #536976 0%, #90485f 100%)
    border-image-slice: 1

  #header
    border-style: solid
    border-width: 0 0 5px
    border-image: linear-gradient(to right, #536976 0%, #90485f 100%)
    border-image-slice: 1

@media screen and (max-width: 480px) 
  .post img[height='640']
    max-width: none
    height: auto
    display: block
    width: 100vw
    margin-left: 50%
    transform: translateX(-50%)

@media screen and (max-width: 375px) 
  #logo 
    font-size: 28px
    margin-bottom: .2em

  #infobox .post-text 
    font-size: 0.9em

  .navigation 
    font-size: 15px
  .socmeed
    display: inline-block
    margin: 10px
    svg
      width: 50px
      height: 50px

  .linkimg
    img
      width: 100px