@font-face
  font-family: 'DDC Hardware'
  src: url('https://d1x6es5xzge33k.cloudfront.net/fonts/DDCHardware-Regular.woff2') format('woff2'),url('https://d1x6es5xzge33k.cloudfront.net/fonts/DDCHardware-Regular.woff') format('woff'),url('https://d1x6es5xzge33k.cloudfront.net/fonts/DDCHardware-Regular.eot') format('embedded-opentype'),url('https://d1x6es5xzge33k.cloudfront.net/fonts/DDCHardware-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face 
  font-family: 'Inter'
  font-style:  normal
  font-weight: 400
  font-display: swap
  src: url("https://d1x6es5xzge33k.cloudfront.net/css/Inter/Inter-Regular.woff2?v=3.11") format("woff2"), url("https://d1x6es5xzge33k.cloudfront.net/css/Inter/Inter-Regular.woff?v=3.11") format("woff")

@font-face 
  font-family: 'Inter'
  font-style:  normal
  font-weight: 600
  font-display: swap
  src: url("https://d1x6es5xzge33k.cloudfront.net/css/Inter/Inter-SemiBold.woff2?v=3.11") format("woff2"), url("https://d1x6es5xzge33k.cloudfront.net/css/Inter/Inter-SemiBold.woff?v=3.11") format("woff")