@font-face
  font-family: 'DDC Hardware Condensed'
  src: url('https://d1x6es5xzge33k.cloudfront.net/fonts/DDCHardware-Condensed.eot')
  src: url('https://d1x6es5xzge33k.cloudfront.net/fonts/DDCHardware-Condensed.eot?#iefix') format('embedded-opentype'),url('https://d1x6es5xzge33k.cloudfront.net/fonts/DDCHardware-Condensed.woff') format('woff'),url('https://d1x6es5xzge33k.cloudfront.net/fonts/DDCHardware-Condensed.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'DDC Hardware Compressed'
  src: url('https://d1x6es5xzge33k.cloudfront.net/fonts/DDCHardware-Compressed.eot')
  src: url('https://d1x6es5xzge33k.cloudfront.net/fonts/DDCHardware-Compressed.eot?#iefix') format('embedded-opentype'),url('https://d1x6es5xzge33k.cloudfront.net/fonts/DDCHardware-Compressed.woff') format('woff'),		url('https://d1x6es5xzge33k.cloudfront.net/fonts/DDCHardware-Compressed.ttf') format('truetype')
  font-weight: normal
  font-style: normal

@font-face
  font-family: 'DDC Hardware'
  src: url('https://d1x6es5xzge33k.cloudfront.net/fonts/DDCHardware-Regular.eot')
  src: url('https://d1x6es5xzge33k.cloudfront.net/fonts/DDCHardware-Regular.eot?#iefix') format('embedded-opentype'),url('https://d1x6es5xzge33k.cloudfront.net/fonts/DDCHardware-Regular.woff') format('woff'),		url('https://d1x6es5xzge33k.cloudfront.net/fonts/DDCHardware-Regular.ttf') format('truetype')
  font-weight: normal
  font-style: normal