/// Media query breakpoints.
$screen-iphone-portrait: 320px
$screen-xs-max:          550px   // Phones and small screens.
$screen-sm-min:          768px   // Tablets.
$screen-md-min:          992px   // Small desktop.
$screen-lg-min:          1200px  // Large desktop.

/// Adobe Scheme Colors
$colorA: #62789C
$colorB: #818B9C
$colorC: #3A424F // base
$colorD: #9C8452
$colorE: #4f483A
$colorF: #272D36 // shades
$colorG: #434D5C // shades

$link: #000
$visited: #6E4E5D
$active: #eee
$hover: #000

$hot: $colorD
$cold: $colorD

$red: #b12
$black: #323131
$white: #fefefd

/// Fonts
$font-body:              Inter, sans-serif
$font-headline:          Inter, 'Segoe IE', Helvetica, sans-serif
$font-byline:            Inter, 'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace
$font-title:             'DDC Hardware', Hevletica, Arial, sans-serif
$font-tagline:           'DDC Hardware Condensed', Hevletica, sans-serif
//$font-system:			 -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
$font-system:            Inter, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
$font-normal:            400
$font-bold:              600

/// Modular Sizes
/// https://www.modularscale.com/?1.2,1.4&rem&1.618

// Inter
$font-large-b:          2.094rem
$font-large-a:          1.618rem
$font-base-b:           1.294rem
$font-base-a:           1rem
$font-small-b:          0.8rem
$font-small-a:          0.618rem

// DDC
$font-logo-a:           3.142rem
$font-logo-b:           3.665rem

// Includes
@import "webfont"
@import "base"
@import "posts"
@import "comments"
@import "gallery"
@import "keyframes"
@import "mobile"
@import "wdt-emoji"
@import "emoji"
@import "amafeed"
@import "eat"
@import "darkmode"