/// Media query breakpoints.
$screen-iphone-portrait: 320px
$screen-xs-max:          550px   // Phones and small screens.
$screen-sm-min:          768px   // Tablets.
$screen-md-min:          992px   // Small desktop.
$screen-lg-min:          1200px  // Large desktop.

/// Colors
$link: #000
$visited: #6E4E5D
$active: #eee
$hover: #000

$red: #b12
$black: #020202
$white: #fefefd

/// Fonts
$font-body:              'Merriweather Sans', 'Segoe UI', Helvetica, Arial, sans-serif
$font-headline:          'Catamaran', Sans-Serif
$font-byline:            'Courier New', Courier, 'Lucida Sans Typewriter', 'Lucida Typewriter', monospace
$font-title:             'DDC Hardware', Hevletica
$font-tagline:           'DDC Hardware Condensed', Hevletica
$font-system:			 -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
$font-normal:            400
$font-bold:              600

// Includes
@import "webfont"
@import "base"
@import "posts"
@import "comments"
@import "gallery"
@import "keyframes"
@import "mobile"
@import "wdt-emoji"
@import "emoji"
@import "amafeed"
@import "eat"