body {
	margin:8px;
	font-family: Helvetica, 'Helvetica Neue', Arial, sans-serif;
}

a:link {color:#990000;text-decoration:none;}
a:visited {color:#660000;text-decoration:none;}
a:active {text-decoration:none;}
a:hover {text-decoration:underline;}

.blog {
	width:777px;
	padding-top:3px;
}
.footer {
	width:777px;
	margin-left:10px;
	margin-top:39px;
	margin-bottom:20px;
}

h1 {
    font-size: 40px;
    font-weight: normal;
    color: #000;
	text-transform: uppercase;
	padding: 9px 0 0 10px;
	margin-bottom: 0px;
	margin-top:0px;
}

.tagline {
    font-size: 14px;
    font-weight: normal;
    color: #000;
	margin-bottom:2px;	
	padding-left:12px;
}

h2 {
    font-size: 20px;
    font-weight: normal;
    color: #000;
	margin-top:21px;
	padding-left:10px;
}

h3 {
    font-size: 14px;
    font-weight: bold;
    color: #000;
	margin-top:18px;
	margin-bottom:10px;
}

.post {
	margin-bottom:30px;
	margin-left:31px;
	margin-right:20px;
	padding-left:10px;
}

.post-text {
	font-family: 'Lucida Grande', Verdana, 'Lucida Sans', 'Lucida Sans Unicode', sans-serif ;
	font-weight: normal;
	font-size: 12px;
	color: #222;
	line-height:130%;
}

.post-byline {
	font-size:12px;
	margin-top:10px;
	color: #666;
}

.post-byline a {color:#000;text-decoration:none;}
.post-byline a:hover {text-decoration:underline;}

.navigation {
	font-size: 14px;
    color: #000;
}

.copyright {
	border-top:solid #eee 1px;
	font-size:12px;
	padding-top:7px;
	color: #666;
}

/* del.icio.us */
ul.delicious {
	list-style: none;
	margin-left: 0px;
	padding-left: 0px;
	margin-bottom: 0px;
	margin-top:10px;
	line-height:145%;
}

ul.delicious li {
	margin-bottom:15px;
	margin-left:0px;
	padding-left:0px;
}
.delicious-last {
	margin-bottom:0px;
}
.delicious-tags	{
	font-size:10px;
	color:#555;
	font-style:italic;
}

.archive {
	margin-left:0px;
}
.archive-title {
	margin-top:21px;
	margin-bottom:17px;
}
.sitetitle a {color:#000;text-decoration:none;}
.archive-sitetitle a {color:#000;text-decoration:none;}
.comment a:link {color:#990000;text-decoration:underline;}
.comment a:visited {color:#660000;text-decoration:underline;}